<!-- company-registration.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TPC - Companies Registration</title>
    <!-- CSS Stylesheet -->

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/companies.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="images/logo.png">

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>


<body class="mobile">

    <!-- Navigtaion Bar -->
    <section class="top container-fluid">
        <nav>
            <div class="container nav-wrapper">
                <div class="brand">
                    <div class="nav_img">
                        <img src="images/logo.png" alt="logo">
                    </div>
                    <span style="margin-right: 10px; text-decoration: none;"></span><strong>Training and Placement
                        Cell</strong></span>
                </div>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div style="margin-top: 12px; margin-left: 10px; margin-right: -20px">
                    <ul class="nav-list">
                        <li class="navListItems">
                            <a href="/">Home</a>
                        </li>
                        <li class="navListItems"><a href="/notices">Notice</a></li>
                        </li>
                        </li>
                        <li class="navListItems"><a href="/featured">Featured</a></li>
                        </li>
                        <li class="navListItems active"><a href="/register">Companies</a></li>
                        <li class="navListItems">
                            <a href="Recruit.html">Why Recruit?</a>
                        </li>
                        <li class="navListItems"><a href="Team.html">Our Team</a></li>
                        <li class="navListItems"><a href="/events">Events</a></li>
                        <li class="navListItems"><a href="ContactUs.html#ContactSection">Contact Us</a></li>
                        <li class="navListItems"><a href="/login">Dashboard</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <!-- Header -->
    <section class="container"><br>
        <h2 class="HeadContent" id="">Company Registration</h2>
        <div class="HeadLine"></div>
    </section>

    <section class="header container">
        <div>
            <h3>Unlock endless opportunities for collaboration – Register your company now! 🚀</h3>
            <h4>Welcome to Training and Placement Cell, Maharaja Agrasen College<br>You'll gain access to a world of
                talent, innovation, and partnership
                opportunities. Seize the future – together, we can achieve greatness!
            </h4>
    </section>

    <!-- Comapnies -->
    <section class="container"><br>
        <div class="slider-area">
            <div class="RecruitWrapper">
                <div class="item3"><img alt="" src="images/recruiters/amazon.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/Deloitte.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/tcs.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/byjus.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/decathlon.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/unacademy.png" width="auto" height="50"></div>
                <div class="item3"><img alt="" src="images/recruiters/EY.png" width="auto" height="40"></div>

                <!-- repeat -->
                <div class="item3"><img alt="" src="images/recruiters/amazon.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/Deloitte.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/tcs.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/byjus.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/decathlon.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/unacademy.png" width="auto" height="50"></div>
                <div class="item3"><img alt="" src="images/recruiters/EY.png" width="auto" height="40"></div>

                <!-- repeat -->
                <div class="item3"><img alt="" src="images/recruiters/amazon.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/Deloitte.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/tcs.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/byjus.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/decathlon.png" width="auto" height="40"></div>
                <div class="item3"><img alt="" src="images/recruiters/unacademy.png" width="auto" height="50"></div>
                <div class="item3"><img alt="" src="images/recruiters/EY.png" width="auto" height="40"></div>
            </div>

            <div class="RecruitWrapper">
                <div class="item4"><img alt="" src="images/recruiters/Mindhouse.png" width="auto" height="70"></div>
                <div class="item4"><img alt="" src="images/recruiters/flipkart.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/KBR.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/toppr.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/tresvista.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/upskillz.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/egiyok" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/AIM.png" width="auto" height="50"></div>
                <!-- repeat -->
                <div class="item4"><img alt="" src="images/recruiters/Mindhouse.png" width="auto" height="70"></div>
                <div class="item4"><img alt="" src="images/recruiters/flipkart.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/KBR.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/toppr.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/tresvista.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/upskillz.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/egiyok" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/AIM.png" width="auto" height="50"></div>

                <!-- repeat -->
                <div class="item4"><img alt="" src="images/recruiters/Mindhouse.png" width="auto" height="70"></div>
                <div class="item4"><img alt="" src="images/recruiters/flipkart.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/KBR.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/toppr.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/tresvista.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/upskillz.png" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/egiyok" width="auto" height="50"></div>
                <div class="item4"><img alt="" src="images/recruiters/AIM.png" width="auto" height="50"></div>
            </div>
        </div><br>
    </section>

    <!-- Guidelines -->
    <section class="containerGuide"><br>
        <center>
            <h3 class="companyHead">COMPANY GUIDELINES</h3>
        </center><br><br>

        1. The Placement Cell emphasizes that no changes can be made to the CTC (Cost to Company) or the profile offered
        to
        the student after the appointment, ensuring fairness to the students.<br>
        2. We kindly request recruiting companies to disclose a tentative duration for the recruitment drive to
        facilitate
        student planning.<br>
        3. Recruiting companies are expected to provide the following details:<br>
        👉 Company Name<br>
        👉 Job Profiles<br>
        👉 Job Description<br>
        👉 Eligibility Criteria<br>
        👉 Required Skills<br>
        👉 Perks and Benefits<br>
        👉 Type of Internship/Job<br>
        👉 Duration<br>
        4. It is mandatory for the recruiting company to inform the Placement Cell about the number of selected students
        (if any), along with their names, via email after the recruitment drive has concluded.<br>
        5. For any inquiries or assistance, please feel free to contact us.<br>
        👉 <b>President</b> : Mansi Saxena : <a class="coreMail"
            href="mailto:mansi.placements.mac.du@gmail.com">mansi.placements.mac.du@gmail.com</a><br>
        👉 <b>Vice-President</b> : Amit Kumar : <a class="coreMail"
            href="mailto:amit.placements.mac.du@gmail.com">amit.placements.mac.du@gmail.com</a><br><br>
    </section>

    <section>
        <br><br>
        <div class="form-contain">
            <center>
                <h3 class="formHeads">Transforming Futures Together: Register here!</h3>
            </center>

            <!-- Tab selection buttons -->
            <center>
                <div class="tab-selection">
                    <button type="button" class="tab-button OptionA" data-tab="placement-tab">Placement</button>
                    <button type="button" class="tab-button OptionB ActiveOpt"
                        data-tab="internship-tab">Internship</button>
                    <button type="button" class="tab-button OptionC" data-tab="workshop-tab">Workshop</button>
                </div>
            </center><br>

            <div class="tab-content" id="placement-tab">
                <div class="form-container">
                    <form method="POST" action="/register">
                        <h3 class="titleHead">Placement</h3>
                        <input type="hidden" name="selectedTab" value="placement-tab">
                        <label for="companyEmailPlacement">Email id:</label>
                        <input type="email" id="companyEmailPlacement" name="companyEmailPlacement" required><br>
                        <label for="companyNamePlacement">Company Name:</label>
                        <input type="text" id="companyNamePlacement" name="companyNamePlacement" required><br>
                        <label for="jobProfilesPlacement">Job Profiles:</label>
                        <input type="text" id="jobProfilesPlacement" name="jobProfilesPlacement" required><br>
                        <label for="ctcPlacement">CTC:</label>
                        <input type="text" id="ctcPlacement" name="ctcPlacement" required><br>
                        <label for="descriptionPlacement">Description:</label>
                        <textarea class="descCont" id="descriptionPlacement" name="descriptionPlacement" rows="4"
                            required></textarea><br>
                        <button type="submit">Register</button>
                    </form>
                </div>
            </div>

            <div class="tab-content" id="internship-tab">
                <div class="form-container">
                    <form method="POST" action="/register">
                        <h3 class="titleHead">Internship</h3>
                        <input type="hidden" name="selectedTab" value="internship-tab">
                        <label for="companyEmailInternship">Email id:</label>
                        <input type="email" id="companyEmailInternship" name="companyEmailInternship" required><br>
                        <label for="companyNameInternship">Company Name:</label>
                        <input type="text" id="companyNameInternship" name="companyNameInternship" required><br>
                        <label for="jobProfilesInternship">Job Profiles:</label>
                        <input type="text" id="jobProfilesInternship" name="jobProfilesInternship" required><br>
                        <label for="duration">Duration:</label>
                        <input type="text" id="duration" name="duration" required><br>
                        <label for="descriptionInternship">Description:</label>
                        <textarea class="descCont" id="descriptionInternship" name="descriptionInternship" rows="4"
                            required></textarea><br>
                        <button type="submit">Register</button>
                    </form>
                </div>
            </div>

            <div class="tab-content" id="workshop-tab">
                <div class="form-container">
                    <form method="POST" action="/register">
                        <h3 class="titleHead">Workshop</h3>
                        <input type="hidden" name="selectedTab" value="workshop-tab">
                        <label for="companyEmailWorkshop">Email id:</label>
                        <input type="email" id="companyEmailWorkshop" name="companyEmailWorkshop" required><br>
                        <label for="speakerName">Speaker Name:</label>
                        <input type="text" id="speakerName" name="speakerName" required><br>
                        <label for="speakerDesignation">Speaker Designation:</label>
                        <input type="text" id="speakerDesignation" name="speakerDesignation" required><br>
                        <label for="topic">Topic of Workshop:</label>
                        <input type="text" id="topic" name="topic" required><br>
                        <label for="descriptionWorkshop">Description:</label>
                        <textarea class="descCont" id="descriptionWorkshop" name="descriptionWorkshop" rows="4"
                            required></textarea><br>
                        <button type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Floating Icons-->
    <div class="iconWrapper">
        <ul>
            <li class="iconElement facebook">
                <a href="https://www.facebook.com/MACTPC/"><i class="fa fa-facebook"></i></a>
                <div class="iconSlider">
                    <p>facebook</p>
                </div>
            </li>

            <li class="iconElement instagram">
                <a href="https://instagram.com/mac.tpc?igshid=NDc0ODY0MjQ="><i class="fa fa-instagram"
                        aria-hidden="true"></i></a>
                <div class="iconSlider">
                    <p>instagram</p>
                </div>
            </li>

            <li class="iconElement gmail">
                <a href="mailto:placements@mac.du.ac.in"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                <div class="iconSlider">
                    <p>gmail</p>
                </div>
            </li>

            <li class=" iconElement linkedin">
                <a href="https://www.linkedin.com/company/training-and-placement-cell-maharaja-agrasen-college/"><i
                        class="fa fa-linkedin" aria-hidden="true"></i></a>
                <div class="iconSlider">
                    <p>linkedin</p>
                </div>
            </li>

            <li class="iconElement whatsapp">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeg9aoEhwPVzqBhoGbmRFHE_J3ihmfsNlhfqtrTPifRgI8q4w/viewform"><i
                    class="fa fa-whatsapp" aria-hidden="true"></i></a>
                <div class="iconSlider">
                    <p>whatsapp</p>
                </div>
            </li>
        </ul>
    </div>

    <!-- Javascript -->
    <script src="js/code.js"></script>

    <!-- Back To Top-->
    <script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
            diameter: 50,
            backgroundColor: '#995ed8',
            textColor: '#fff'
        });
    </script>

    <!-- Tabs (Internships / Placements / Workshops) -->
    <script>
        const tabButtons = document.querySelectorAll('.tab-button');
        const tabContents = document.querySelectorAll('.tab-content');

        tabButtons.forEach(button => {
            button.addEventListener('click', () => {
                const selectedTab = button.getAttribute('data-tab');
                tabContents.forEach(content => {
                    if (content.id === selectedTab) {
                        content.style.display = 'block';
                    } else {
                        content.style.display = 'none';
                    }
                });
            });
        });
        tabButtons[1].click();

        document.addEventListener('DOMContentLoaded', function () {
            const tabButtons = document.querySelectorAll('.tab-button');

            tabButtons.forEach(button => {
                button.addEventListener('click', function () {
                    tabButtons.forEach(btn => btn.classList.remove('ActiveOpt'));
                    this.classList.add('ActiveOpt');
                });
            });
        });
    </script>

</body>
</html>