:root {
    --light-color: #bc9cdf;
    --primary-color: #933ded;
    --primary-dark: #742fbd;
    --secondary-color: #734a9f;
    --bright-color: #6f2fb3;
    --neutral-color: #8a5abe;
    --dark-color: #4b2674;
    --white-01: #fff;
    --white-02: #f5f5f5;
    --white-03: #ccc;
  }

.membersDes {
    font-weight: 600;
    color: var(--primary-color);
    font-size: 30px;
}

.memDetails {
    display: inline-block;
    margin: 25px;
}

.memDetails img {
    border-radius: 50%;
    width: 170px;
    height: 165px;
}

.memDet {
    position: relative;
    display: inline-block;
}

.linkedinContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    visibility: hidden;
    background-color: rgba(204, 204, 204, 0.2);
    border-radius: 50%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.memDet:hover .linkedinContent {
    visibility: visible;
}

.posHold a {
    font-weight: 500;
    color: var(--dark-color);
    text-decoration: none;
    font-size: 1.2rem;
}

.holderName a {
    color: #434343;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.1rem;
}

.posHold a:hover {
    text-decoration: none;
    padding-top: 2px;
}

.holderName a:hover {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .membersDes {
        font-size: 1rem;
    }

    .posHold a,
    .holderName a {
        font-size: 0.9rem;
    }
}